@charset "UTF-8";
/* CSS Document */
html {
	min-height:100%;
	position: relative;
	}
body {
	font-family:Arial,Helvetica, sans-serif;
	
	padding:0px;
	margin-top: 0;
	/* background-image:url(img/bg_outside.gif); */
	height: 100%;
	}
#container {
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
	
	padding:0px;
	/*background-image:url(img/bg_inside.jpg); */
	background-repeat:repeat-y;
	width: 982px;
	margin: 0 auto;

	}
	
	#container_projects {
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
	
	padding:0px;
	/*background-image:url(img/bg_inside.jpg); */
	background-repeat:repeat-y;
	width: 982px;
	margin: 0 auto;
	height: 100%;
	}
	
#logo {
	clear:both;
	background-image:url(../img/h_line.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	text-transform:uppercase;
	margin:auto;
	padding:20px;
	text-align:center;
	}

#stairs_announcement {
	width: 960px;
	padding-top:5px;
	padding-bottom:5px;
	clear:both;
	display: block;
	background-color: #ffae00;
    color: black;
    text-align: center;
    margin: 10px;
    text-decoration: none;
	font-size:14px;
	}
.stair_title {
	color:#e39000; 
	font-weight:bolder; 
	font-size:16px;
}
	
#stairs_announcement a:link, #stairs_announcement a:visited {
    display: block;
    color: black;
    text-decoration: none;
}
#stairs_announcement a:hover, #stairs_announcement a:active {
	color:black;
	text-decoration: none;
	}
	
#menu {
	text-align:center;
	font-weight:100;
	float:left;
	width: 960px;
	padding-bottom:20px;
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
	}
#gallery {
	float:left;
	width: 732px;
	height: 235px;
	padding: 0px;
	text-align: center;
	margin-bottom:40px;
	}
#main {
	font-size:13px;
	font-weight:100;
	clear:both;
	background-image:url(../img/h_line.gif);
	background-repeat:no-repeat;
	background-position:top center;
	padding: 20px;
	/*margin-top: 20px;*/
	color: black;
	padding-bottom:0px;
	}
#main_text {
	position: relative;
	top: -50px;
}

#footer {
	position:relative;
	top:-40px;
	background-image:url(../img/h_line.gif);
	background-repeat:no-repeat;
	background-position:top;
	padding-top:20px;
	clear:both;
	}
	
ul {
	text-align: center;
	list-style-type: none;
    margin: 0;
    padding: 0;
	}
li {
	width: 140px;
	float:left;
	display:inline-block;
	font-size:14px;
	text-align: center;
	/*background-image:url(img/menu_line.png); */
	background-repeat:no-repeat;
	background-position:bottom;
	text-transform:uppercase;
	padding: 5px;
	}
li::first-letter {
	font-size:larger;
	text-transform:uppercase;
	}

#menu a:link, #menu a:visited {
    display: block;
    color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
#menu a:hover, #menu a:active {
	color:black;
	background-color:#37b751;
	text-align: center;
	}

#footer1 {
	font-size: 10px;
	color:#6a747f;
	float:left; 
	width:auto;
	text-align:left;
	padding-left: 20px;
	}
	
#footer2 {
	font-size: 10px;
	color: #6a747f;
	float:right;
	width:auto;
	text-align:right;
	padding-right:20px;
	}
li.dotlist {
	list-style:circle;
	font-size:13px;
	background-image:none;
	text-transform:none;
	}
li.dotlist::first-letter {
	font-size:13px;
	text-transform:uppercase;
	}

.project_container {
	with: 930px;
	height:auto;
	clear:both;
	margin-top:10px;
	background-image:url(../img/h_projects.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}

.miniature {
	width: 206px;
	height: 166px;
	float:left;
}

.project_description {
	width: 694px;
	padding-left: 10px;
	float:left;
	margin-top:0px;
	padding-top:0px;
}

.button {
float:right;
display:block;
width:100px;
height:25px;
background-color: white;
text-align: center;
text-transform:uppercase;
font-size: 14px;
}
.button::first-letter {
text-transform:uppercase;
font-size:larger;
}

.button a:link, .button a:visited {
    display: block;
    color: black;
    padding: 4px;
    text-decoration: none;
}
.button a:hover, .button a:active {
	color:black;
	background-color:#37b751;
	}

.separating_line {
 	clear:both;
	background-image:(../img/h_projects.jpg);
	background-repeat:repeat-x;
	height:10px;
	width:930px;
}

#welcome {
	position: relative;
	right: -50px;
	top: -40px;
	background-color: white;
	display: block;
	width: 100px;
	padding: 10px;
	font-size: 17px;
	color: black;
	/* text-shadow: 1px 1px #37b751; */
	text-align: center;
	text-transform:uppercase;
	height: 25px;
	margin:0;
}

#welcome::first-letter {
	font-size: 23px;
	text-transform:uppercase;
}

#main:link, #main:visited {
    display: block;
    color: #abb1b7;
    text-align: left;
    padding: 4px;
    text-decoration: none;
}
#main:hover, #main:active {
	color:black;
	text-align: left;
	}
	
#clients {
	position: relative;
	right: -50px;
	top: -40px;
	background-color: white;
	display: block;
	width: 130px;
	padding: 10px;
	font-size: 17px;
	color: black;
	/* text-shadow: 1px 1px #37b751; */
	text-align: center;
	text-transform:uppercase;
	height: 25px;
	margin:0;
}

#clients::first-letter {
	font-size: 23px;
	text-transform:uppercase;
}

.fadein { position:relative; width:500px; height:332px; }
.fadein img { position:absolute; left:0; top:0; }


/* SLIDESHOW */

header {
    background-color:#212121;
    box-shadow: 0 -1px 2px #111111;
    display:block;
    height:70px;
    position:relative;
    width:100%;
    z-index:100;
}
header h2{
    font-size:22px;
    font-weight:normal;
    left:50%;
    margin-left:-400px;
    padding:22px 0;
    position:absolute;
    width:540px;
}
header a.stuts,a.stuts:visited{
    border:none;
    text-decoration:none;
    color:#fcfcfc;
    font-size:14px;
    left:50%;
    line-height:31px;
    margin:23px 0 0 110px;
    position:absolute;
    top:0;
}
header .stuts span {
    font-size:22px;
    font-weight:bold;
    margin-left:5px;
}

/* fade slider */
.slides {
    height:235px;
    overflow:hidden;
    position:relative;
    width:710px;
}
.slides ul {
    list-style:none;
    position:relative;
}

/* keyframes #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 30.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 30.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* css3 delays */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.slides ul  li:nth-child(5), .slides ul  li:nth-child(5) div {
    -webkit-animation-delay: 24.0s;
    -moz-animation-delay: 24.0s;
}
.slides ul li img {
    display:block;
}

/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.slides ul li div {
	text-align:center;
    background-color:#000000;
    color:#FFFFFF;
    font-size:14px;
    left:10%;
    margin:0 auto;
    padding:5px;
    position:absolute;
    top:70%;
    /*width:130px;*/

    /* css3 animation */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 30.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_titles;
    -moz-animation-duration: 30.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
